<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kawal Covid-19</title>
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <% include templates/navbar.ejs %>

    <section id="head-kontak">
        <div class="col-12 wrap-kontak bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 text-center px-0">
                        <a href="https://www.freepik.com/stories"><img src="/img/doctors.png" alt="Image Kontak"></a>
                    </div>
                    <div class="col-md-7 title-kontak">
                        <div class="row">
                        <div class="col-12">
                            <h3><b>Kontak Rumah Sakit dan Call Center</b></h3>
                        </div>
                        <div class="col-12">
                            <p>Informasi dan nomor alamat rumah sakit yang menjadi rujukan pemeriksaan gejala COVID-19</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="daftar-RS">
        <div class="container">
            <div class="col-12 wrap-RS bg-white">
                <div class="row">
                    <div class="col-12">
                        <h5><b>Daftar Rumah Sakit Rujukan di Sumatera Utara</b></h5>
                        <p>Berikut ini adalah rumah sakit yang menjadi rujukan untuk pasien dengan status Pasien dalam Pengawasan. Anda harus mengunjungi fasilitas kesehatan terdekat terlebih dahulu seperti klinik/rumah sakit umum sebelum akhirnya dapat dirujuk ke rumah sakit khusus di bawah ini.</p>
                    </div>
                    <div class="col-12 mt-4">
                        <div class="col-md-6 col-search">
                            <div class="row">
                                <input type="text" id="myInput" onkeyup="searchRS()" placeholder="Cari rumah sakit" title="Cari rumah sakit">
                                <img src="/img/search.png" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <!-- 1 -->
                            <div class="col-lg-6 card-RS">
                                <div class="col-12">
                                    <div class="card-line"></div>
                                    <div class="col-12 px-0">
                                        <h5>RSUP H. Adam Malik</h5>
                                        <span>Jl. Bunga Lau No. 17. Kemenangan Tani. Kec. Medan Tuntungan. Kota Medan. 20136</span>
                                    </div>
                                    <div class="col-12 px-0">
                                        <a href="tel:(061) 8360143">
                                        <button class="btn mt-3">
                                            (061) 8360143
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="col-lg-6 card-RS">
                                <div class="col-12">
                                    <div class="card-line"></div>
                                    <div class="col-12 px-0">
                                        <h5>RSUD Dr. Djasamen Saragih</h5>
                                        <span>Jl. Sutomo No. 230. Simalungun. Kec. Siantar Sel. Kota Pematang Siantar. 21121</span>
                                    </div>
                                    <div class="col-12 px-0">
                                        <a href="tel:(0622) 22959">
                                        <button class="btn mt-3">
                                            (0622) 22959
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 3 -->
                            <div class="col-lg-6 card-RS">
                                <div class="col-12">
                                    <div class="card-line"></div>
                                    <div class="col-12 px-0">
                                        <h5>RSU Kabanjahe</h5>
                                        <span>Jl. Selamat Ketaren No. 08. Lau Cimba. Kabanjahe. Kab. Karo. 22111</span>
                                    </div>
                                    <div class="col-12 px-0">
                                        <a href="tel:(0628) 22959">
                                        <button class="btn mt-3">
                                            (0628) 22959
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 4 -->
                            <div class="col-lg-6 card-RS">
                                <div class="col-12">
                                    <div class="card-line"></div>
                                    <div class="col-12 px-0">
                                        <h5>RSU Tarutung</h5>
                                        <span>Jl. Agus Salim No. 1. Hutagalung Siwaluompu. Tarutung. Kab. Tapanuli Utara. 22411</span>
                                    </div>
                                    <div class="col-12 px-0">
                                        <a href="tel:(0633) 21303">
                                        <button class="btn mt-3">
                                            (0633) 21303
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 5 -->
                            <div class="col-lg-6 card-RS">
                                <div class="col-12">
                                    <div class="card-line"></div>
                                    <div class="col-12 px-0">
                                        <h5>RSU Padang Sidempuan</h5>
                                        <span>Jl. Dr. Ferdinan Lumban Tobing No. 10. Padangsidimpuan</span>
                                    </div>
                                    <div class="col-12 px-0">
                                        <a href="tel:(0634-21780)">
                                        <button class="btn mt-3">
                                            (0634-21780)
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 6 -->
                            <div class="col-lg-6 card-RS">
                                <div class="col-12">
                                    <div class="card-line"></div>
                                    <div class="col-12 px-0">
                                        <h5>RS GL Tobing</h5>
                                        <span>Limau Manis. Tj. Morawa. Kab. Deli Serdang. 20362</span>
                                    </div>
                                    <div class="col-12 px-0">
                                        <a href="tel:(061) 7944796">
                                        <button class="btn mt-3">
                                            (061) 7944796
                                        </button>
                                        </a>
                                        <a href="tel:+62 822-6804-0024">
                                        <button class="btn mt-3">
                                            +62 822-6804-0024
                                        </button>
                                        </a>
                                    </div>
                                    <p id="khusus"><i>*Hanya untuk PDP (Pasien Dalam Pengawasan)</i></p>
                                </div>
                            </div>
                            <!-- 7 -->
                            <div class="col-lg-6 card-RS">
                                <div class="col-12">
                                    <div class="card-line"></div>
                                    <div class="col-12 px-0">
                                        <h5>RS Martha Friska Multatuli Medan</h5>
                                        <span>Jl. Multatuli No. 1. A U R. Kec. Medan Maimun. Kota Medan. 20212</span>
                                    </div>
                                    <div class="col-12 px-0">
                                        <a href="tel:(061) 4149666">
                                        <button class="btn mt-3">
                                            (061) 4149666
                                        </button>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="call-center">
        <div class="container mt-4">
            <div class="col-12 wrap-table bg-white">
                <h4><b>Hubungi Call Center</b></h4>

                <div class="col-md-6 col-search">
                    <div class="row">
                        <input type="text" id="myInput" onkeyup="searchFunction()" placeholder="Cari kota atau kabupaten" title="Cari kota/kabupaten">
                        <img src="/img/search.png" alt="">
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table id="myTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Kota/Kabupaten</th>
                                <th>Call Center</th>
                                <th>Hotline</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Kota Medan</td>
                                <td>
                                    <a id="call" href="tel:0821 6490 2482">
                                        0821 6490 2482
                                    </a>
                                </td>
                                <td>
                                    <a id="call" href="tel:0852 6131 7122">
                                        0852 6131 7122
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kab. Asahan</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Kab. Batu Bara</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Kab. Dairi</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Kab. Deli Serdang</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </section>

    <% include templates/footer.ejs %>
    
</body>
</html>