*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-green-1: #0A6259;
    --bg-green-2: #32A37F;
    --bg-green-3: #649274;
    --bg-green-4: #BEDD9A;
    --bg-yellow: #FECE63;
    --bg-yellow-hover: #E5BA59;
    --bg-red: #FD6F63;
    --bg-red-hover: #E36459;
}
body{
    padding-top: 102px;
    background-color: #F5F6FA;
    font-family: 'Montserrat';
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}
.font-angka{
    font-family: 'Product Sans';
}



/* NAVBAR */
.navbar{
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    padding: 9px 1rem;
}
ul.navbar-nav{
    font-size: 14px;
    letter-spacing: .5px;
}
li.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
li.nav-item a :not(button){
    background: #000;
}
a.nav-link{
    color: #666666;
}
.active{
    color: #000000;
    font-weight: 600;
}
.navbar-toggler{
    border: none;
}
.btn-download{
    font-size: 14px;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    letter-spacing: .5px;
    padding: .5rem 1rem;
    background-color: var(--bg-green-2);
    transition: .3s ease-in;
}
.btn-download:hover{
    background-color: var(--bg-green-1);
}
button.navbar-toggler{
    box-shadow: none;
    outline: none;
}
.icon-navbar .fa{
    font-size: 1.7rem;
}
.icon-navbar .fa-times{
    font-size: 1.9rem;
    font-weight: 400;
}
@media(min-width:991px){
    .navbar-brand{
        font-size: 18px;
    }
}
@media(max-width:991px){
    .navbar{
        padding: 1rem;
    }
    a.navbar-brand{
        padding-left: 15px;
    }
    a.nav-link{
        /* background-color: hotpink; */
        width: 100%;
        padding: 10px 0;
    }
    a.nav-link:hover{
        background-color: #FAFAFA;
    }
}
@media(max-width:991px){
    a.navbar-brand{
        font-size: 18px;
    }
}



/* HEAD */
#head{
    background-image: url('../img/back-head.png');
    background-size: cover;
    background-position: center;
    padding-top: 24px;
    padding-bottom: 32px;
}
.title-head{
    margin-bottom: 40px;
    color: #FFFFFF;
}
.title-head p{
    font-size: 30px;
    letter-spacing: .5px;
}
.wrap-banner img{
    border-radius: 10px;
    width: 100%;
}
.col-hub > div{
    border-radius: 10px;
    padding-bottom: 15px;
}
a#call-head{text-decoration: none;}
a#call-head:hover{color: #000000;}
.wrap-call{
    letter-spacing: .5px;
    padding-top: 15px;
    margin-bottom: 14px;
    margin-left: auto;
    margin-top: auto;
    background-color: #FFFFFF;
    transition: .3s ease-out;
}
.wrap-call:hover{
    text-decoration: none;
    color: #000000;
    background-color: #a4c1ae;
}
.wrap-call-icon{
    /* width: 70px; */
    text-align: center;
}
.call-icon{
    width: 40px;
    /* max-height: 50px; */
    margin-left: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: #BEDD9A;
}
.call-icon img{
    max-height: 28px;
    width: 100%;
}
.wrap-call p:nth-child(odd){
    font-size: 17px;
}
.wrap-call p:nth-child(even){
    font-size: 14px;
    letter-spacing: .5px;
}
.wrap-call p:nth-child(3){
    margin-top: 14px;
}
@media(max-width:991px){
    .col-hub{
        margin-top: 32px;
    }
    .wrap-call{
        margin-left: 0;
    }
    .wrap-call p:nth-child(odd){
        font-size: 16px;
    }
    .wrap-call p:nth-child(even){
        font-size: 13px;
    }
}
@media(max-width:576px){
    .col-banner, .col-hub{
        padding-left: 0;
        padding-right: 0;
    }
    .title-head p{
        font-size: 20px;
    }
    .call-icon{
        width: 35px;
        /* height: 35px; */
        /* max-height: 50px; */
        margin-left: 15px;
        padding: 8px;
    }
    .wrap-call p:nth-child(odd){
        font-size: 14px;
    }
    .wrap-call p:nth-child(even){
        font-size: 11px;
    }
}



/* DATA */
#data{
    margin-top: 32px;
}
#data .container{
    padding: 0;
}
.title-angka p:first-child{
    font-weight: bold;
    font-size: 18px;
}
.title-angka p:nth-child(2){
    font-size: 14px;
}
.wrap-data{
    margin-top: 24px;    
    letter-spacing: .5px;
}
.wrap-data-1{
    border-radius: 7px;
    padding: 15px;
}
.bg-positif{
    background-color: #FEF6E5;
    box-shadow: 6px 6px 10px rgba(247, 187, 59, .2);
}
.bg-positif-icon{
    background-color: #FECE63;
}
.bg-sembuh{
    background-color: #F1FCE3;
    box-shadow: 6px 6px 10px rgba(164, 236, 70, .3);
}
.bg-sembuh-icon{
    background-color: #649274;
}
.bg-meninggal{
    background-color: #FCF2F3;
    box-shadow: 6px 6px 10px rgba(227, 130, 140, .2);
}
.bg-meninggal-icon{
    background-color: #E34E42;
}
.data-icon{
    width: 40px;
    padding: 9px;
    border-radius: 5px;
}
.data-icon img{
    width: 100%;
}
.sub-title-data{
    font-size: .9rem;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.data-sumut{
    font-weight: bold;
}
.data-sumut .row div:first-child{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.data-sumut p{
    font-size: 36px;
}
.data-angka{
    text-align: end;
}
.wrap-odp{
    border-radius: 7px;
    padding: 15px;
    letter-spacing: .5px;
    color: #383D45;
}
.title-odp{
    font-size: 18px;
    font-weight: bold;
}
.data-odp{
    margin: 0 auto;
    padding-right: 0;
}
.data-odp p{
    /* font-size: 13px; */
}
.data-odp p:first-child{
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
    line-height: 35px;
    color: #32A37F;
}
.btn-data{
    color: #FFFFFF;
    background-color: #32A37F;
    transition: .3s ease-in;
    border: none;
    padding: 8px 24px;
    border-radius: 7px;
}
.btn-data img{
    max-width: 22px;
    margin-left: 20px;
}
.btn-data:hover{
    background-color: #0A6259;
}
@media(min-width:991px) and (max-width:1200px){
    .data-sumut .row div:first-child{
        font-size: 18px;
    }
}
@media(max-width:991px){
    .wrap-odp:first-child{
        margin-bottom: 15px;
    }
    .bg-positif, .bg-sembuh{
        margin-bottom: 15px;
    }    
    .btn-data{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
@media(max-width:768px){
    .data-odp{
        padding-bottom: 8px;
    }
}


/* INFO */
#info{
    margin-top: 80px;
    letter-spacing: .5px;
}
.wrap-risiko{
    border-radius: 10px;
    padding: 24px;
}
.con-risiko p{
    margin-top: 25px;
    letter-spacing: .5px;
    line-height: 1.8;
}
.con-apa-covid p{
    /* margin-top: 16px; */
    letter-spacing: .5px;
    line-height: 1.7;
}
.img-covid{
    display: flex;
    align-items: center;
    padding: 0;
}
.img-question{
    display: flex;
    justify-content: center;
    padding: 0;
}
.img-question a{
    display: flex;
    height: 0px;
}
.img-covid img{width: 80%;}
.img-covid img#distancing{
    width: 100%;
}
img#question{
    margin: 32px auto auto auto;
    width: 70%;
}
.col-FAQ, .wrap-RS{margin-top: 32px;}
.wrap-FAQ{height: 100%;}
.wrap-FAQ, .wrap-table, .wrap-RS{
    /* margin-top: 32px; */
    padding: 24px;
    border-radius: 10px;
}
.wrap-FAQ p, .wrap-RS p{
    margin-top: 25px;
    letter-spacing: .5px;
    line-height: 1.7;
}
.btn-FAQ{
    color: #FFFFFF;
    background-color: #32A37F;
    transition: .3s ease-in;
    border: none;
    padding: 8px 24px;
    border-radius: 7px;
    letter-spacing: .5px;
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
}
.btn-FAQ:hover{
    background-color: #0A6259;
}
.col-search{    
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #f5f5f5;
    border-radius: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    display: flex;
}
.col-search:hover{
    background-color: #e6e6e6;
}
.col-search span{
    font-size: 14px;
    color: #999999;
}
.col-search input{
    border: none;
    padding: 8px 16px;
    background-color: transparent;
    font-size: 15px;
    width: 80%;
    box-shadow: none;
    outline: none;
}
.col-search img{
    width: 18px;
    margin: auto 0 auto auto;
}
.table-responsive{
    /* max-height: 200px; */
    overflow-y: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
}
#bodyTable .btn{
    background-color: #FECE63;
    transition: .1s ease-in;
    border: none;
    border-radius: 7px;
    letter-spacing: .5px;
}
#bodyTable .btn:hover{
    background-color: #E5BA59;
}
.table th, .table thead th, .table td{
    border-top: none;
    border-bottom: none;
}
.table thead{
    background-color: #F2F7F7;
}
.table tbody tr:nth-child(even){
    background-color: #FAFAFA;
}
.table tbody tr:nth-child(even):hover{
    background-color: #ECECEC;
}
.card-RS{
    position: relative;
}
.card-RS > div{
    background-color: #F2F7F7;
    padding: 18px 18px 18px 24px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card-line{
    width: 15px;
    min-height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #649274;
    position: absolute;
    top: 0;
    left: 0;
}
.card-RS h5{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
}
.card-RS span{
    font-size: 14px;
}
.card-RS .btn{
    background-color: #FECE63;
    transition: .1s ease-in;
    border: none;
    border-radius: 7px;
    letter-spacing: .5px;
}
.card-RS .btn:hover{
    background-color: #E5BA59;
}
@media(max-width:991px){
    .img-covid, .img-question{
        display: none;
    }
    .card-RS:nth-child(n+2){
        margin-top: 16px;
    }
    .col-FAQ .row > div:first-child{
        margin-bottom: 32px;
    }
    .btn-FAQ{
        position: relative;
        margin-bottom: 0;
        margin-top: 32px;
    }
}
@media(max-width:768px){
    table.table{
        min-width: 700px;
    }    
    .wrap-FAQ h5{font-size: 22px;}
}


/* artikel */
#artikel-home{
    margin-top: 80px;
}
.list-lindungi{
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 10px;
}
.li-wash img{
    width: 24px;
    /* padding: 5px; */
}




/* thumbnail */
#thumbInfo{
    margin-top: 80px;
}
.thumbnail-carousel img{
    margin-right: 8px;
    margin-left: 8px;
}
@media(max-width:768px){
    .thumbnail-carousel img{
        margin: 0;
    }
}
@media(max-width:576px){
    .thumbnail-carousel img{
        margin-left: 16px;
        margin-right: 16px;
    }
}





/* KONTAK */
.wrap-kontak, .wrap-faq{
    padding: 24px;
}
.wrap-kontak img{
    width: 100%;
}
.title-kontak{
    display: flex;
    align-items: center;
}
p#khusus{
    font-size: 14px;
    color: var(--bg-red);
}
@media(min-width:991px){
    #daftar-RS .card-RS:nth-child(n+4){
        margin-top: 16px;
    }
}
@media(max-width:991px){
    .title-kontak h3{
        font-size: 20px;
    }
    .title-kontak p{
        font-size: 16px;
    }
}
@media(max-width:768px){
    .title-kontak{
        margin-top: 16px;
    }
    .wrap-kontak img{
        width: 80%;
    }
}





/* FAQ */
#head-faq img{
    width: 70%;
}
#head-faq p{
    line-height: 1.8;
}
.toogle-faq{
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .5px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
}
#list-faq .col-search{
    background-color: white;
}
#list-faq .col-search:hover{
    background-color: #eeeeee;
}
#list-faq .col-search img{
    margin: auto 32px auto auto;
}
.toogle-faq:hover{
    background-color: #FAFAFA;
}
.toogle-faq .col-1{
    max-width: 60px;
}
.isi-text-faq{
    margin-top: 16px;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.9;
}
.isi-faq{
    display: flex;
}
.fa{
    font-size: 1.2rem;
}
.ol-isi-faq{
    padding-left: 32px;
    margin-top: 8px;
}
a#link-faq{
    color: #3498db;
}
a#link-faq:hover{
    color: #3498db;
}
@media(min-width:576px) and (max-width:768px){
    #head-faq img{
        width: 50%;
    }
}
@media(max-width:576px){
    .ol-isi-faq{
        padding-left: 16px;
    }
}
@media(max-width:360px){
    .col-icon-fa{
        display: none;
    }
}



/* BERITA-HOME */
#berita-h{margin-top: 80px;}
.wrap-berita-h{
    border-radius: 10px;
    padding: 24px;
}
.wrap-berita-h h3, .wrap-berita-h h4{
    font-weight: bold;
}
.list-berita-h{
    padding: 32px 16px;
    border-bottom: 1px solid #dddddd;
}
/* .list-berita-h h4{
    color: var(--bg-green-4);
} */
.list-berita-h:last-child{
    border-bottom: none;
}
p.isi-berita{
    margin-top: 32px;
}
.list-berita-h a, .list-berita a{
    color: #7EBF60;
}
.list-berita-h a:hover, .list-berita a:hover{
    color: var(--bg-green-2);
}
.img-berita-h img{border-radius: 10px;}
@media(max-width:991px){
    .img-berita-h{display: none;}
}




/* HALAMAN DATA */
.min-chart, .big-chart{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.min-chart .bg-white{
    border-radius: 10px;
    padding: 15px;
}
.min-chart h5, .big-chart h5{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 15px;
}
.big-chart{
    padding: 0;
    margin-top: 30px;
}
.big-chart .bg-white{
    border-radius: 10px;
    padding: 15px;
}
#head-data .title-angka h4{
    font-weight: bold;
    /* font-size: 18px; */
}
#head-data .title-angka p{
    font-size: 1rem;
}
#title-grafik{
    letter-spacing: .5px;
    margin-bottom: 15px;
}
#tabel-kota .table-responsive{
    max-height: 500px;
    overflow-y: auto;
}
/* #myTable{
    height: 100px;
    overflow: auto;
} */
@media(max-width:991px){
}
@media(max-width:768px){
    .big-chart{
        flex-wrap: wrap;
    }
    .big-chart .col-lg-6:nth-child(2){
        margin-top: 16px;
    }
}
@media(max-width:576px){
    .min-chart, .big-chart{
        flex-wrap: wrap;
    }
    .min-chart > div:nth-child(n+1){
        margin-top: 16px;
    }
}




/* HALAMAN BERITA */
#berita .wrap-berita-h{
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 18px;
}
.judul-berita{
    padding: 0 0 15px 24px;
}
.judul-berita h3{
    font-weight: bold;
}


















.footer{
    margin-top: 102px;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: .5px;
    background-color: var(--bg-green-1);
}

/* SLICK */
.slick-next, .slick-prev{
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgb(160, 160, 160);
}
.slick-next:before, .slick-prev:before{
    font-family: 'Advent Pro';
    font-size: 2.5rem;
    color: #000000;
}
.slick-prev:before{
    content: '<';
}
.slick-next:before{
    content: '>';
}
.slick-next{
    right: 30px;
}
.slick-prev{
    left: 30px;
    z-index: 2;
}
@media(max-width:768px){
    .slick-next, .slick-prev{
        visibility: hidden;
    }
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-menu{
    max-height: 300px;
    overflow: auto;
}