<footer>
    <div class="footer text-center">
        <div class="col-12">
            &copy; 2020 Kawal Covid-19 Provinsi Sumatera Utara. All rights reserved
        </div>
    </div>
</footer>

<script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("ul-nav");
    var btns = header.getElementsByClassName("nav-item");

    var active = "<%= active %>";

    for (var i = 0; i < btns.length; i++) {
    //   btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      btns[active].className += " active";
    }
</script>